<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Species Information</title>
  </head>
  <body>
 {% for tree in trees%}

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src='{{tree.img_loc}}' alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{tree.species_nm}}</h5>
      <p class="card-text">The {{tree.species_nm}} enjoys {{tree.habitat}}.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Growth Habit: {{tree.growth_habit}}</li>
      <li class="list-group-item">Longevity: {{tree.longevity}}</li>
      <li class="list-group-item">Bloom Time: {{tree.bloom_time}}</small></li>
    </ul>
    <div class="card-body">
      <a href="/" class="card-link"><small>Return to Boroughs</small></a>
    </div>


  {% endfor %}

</div>
</body>
     
    

</html>